/* hero background image */
.bgimage {
    height:100vh;
    background: url(https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=996&t=st=1702957321~exp=1702957921~hmac=cbb1de37843dd95d43b6a43745a629a044427a6bb4400b6e2cec1bf0912c7270);
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}